*{
	font-family: Microsoft YaHei;
}

QTreeView {
	border: none;
	background: rgb(242, 242, 242);
	font-size: 11pt;
	show-decoration-selected: 1;
}

QTreeView::item {
	height: 30px;
	border: none;
	background: transparent;
	color: black;
}

QTreeView::item:hover, QTreeView::branch:hover {   /** 鼠标滑过 item **/
	background-color: rgb(216, 244, 240);
}

QTreeView::item:selected, QTreeView::branch:selected {   /** 鼠标选中 item **/
	background-color: rgb(193, 243, 230);
}

QTreeView::branch:open:has-children {   /** 分支 - 展开 item（有孩子） **/
	image: url(:/Resources/TreeView/arrowBottom.png);
}

QTreeView::branch:closed:has-children {  /** 分支 - 折叠 item（无孩子） **/
	image: url(:/Resources/TreeView/arrowRight.png);
}

QScrollBar {
	background:transparent; 
	width: 10px;
	margin: 0px 2px 0px 0px;
}

QScrollBar::handle {
	background:rgb(217,217,217);
	border-radius:4px;
}

QScrollBar::handle:hover {
	background: rgb(191,191,191);
}

QScrollBar::add-line:vertical {
	border:1px rgb(230,230,230);
	height: 1px;
}

QScrollBar::sub-line:vertical {
	border:1px rgb(230,230,230);
	height: 1px;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	background:transparent;
}
